.member-card {
  // border: none;
  // padding: 0;
  // margin: 0;
  .ant-card {
    border-radius: 8px;
  }
  &-icon {
    height: 80px;
    width: 80px;
    // border-radius: 50%;
    border-radius: 8px;
  }
  &-title {
    display: flex;
  }
  &-name-dob {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 24px;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: cente;
  }
}
