.home-header {
  height: 54px;
  max-width: calc(1600px + 10%);
  padding: 0 5%;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid $gray-5;
  background-color: white;
  z-index: 9;

  display: flex;
  align-content: center;
  justify-content: space-between;
  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-content: center;
    font-weight: bold;
    font-size: 24px;
    // color: $blue-5 !important;
    color: unset;
    background: white !important;
    height: 100%;
  }
  &-right {
    display: flex;
    align-content: center;
    .ant-menu-horizontal {
      line-height: 51px;
    }
  }
}
