@import "../../Pages/CVs/Style/index";
@import "../../Pages/Contact/Style/index";
@import "../../Pages/Home/Style/index";
@import "../../Pages/OurTeam/Style/index";

.home,
.contact,
.our-team {
  overflow: auto;
  position: relative;

  &-main {
    padding: 78px 5%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }
}
