@import "./Layout/index";

.patients-new-wrapper {
  height: calc(100% - 4rem);
  .div-new-wrapper {
    padding: $size-24;
    height: 100%;
    overflow: auto;
  }
  .div-new-wrapper-nurse {
    padding: $size-24;
    height: calc(100vh - 4rem - 3.5rem);
    overflow: auto;
  }
  .patients-new-body-main {
    width: 100%;
    padding: $size-24;
  }
  .ant-tabs-nav {
    padding: 0 $size-24;
    background-color: white;
    height: $size-56;
    color: $gray-8;
    margin: 0;
  }

  .div-add-new-patient {
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
