.header {
    &-main {
        width: 100%;
        height: $size-64;
        background-color: $gray-1;
        padding: 0 $size-24;
        border: $size-1 solid $bg;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-right {
        height: 100%;
        width: 100%;
    }
    &-navigation-left {
        padding: 0;
        &-noic {
            padding: 0;
            .ant-page-header-back {
                display: none !important;
            }
        }
        .ant-page-header-back {
            display: flex;
            margin: 0;
            .ant-page-header-back-button {
                display: flex !important;
                align-items: center;
                height: $size-32;
                padding-right: $size-12 !important;
            }
        }
        .ant-page-header-heading-title {
            color: $gray-9;
        }
    }
    &-right-16 {
        margin-right: $size-16;
    }
    &-arrow-icon {
        color: $gray-8;
        vertical-align: baseline;
    }
    &-bell-icon {
        font-size: $size-20;
    }
    &-dropdown {
        margin: 0 !important;
    }
    &-menu {
        top: 4.75rem !important;
        cursor: pointer;
        &-main {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
    &-notifi-button {
        border: none;
        outline: none !important;
        padding: 0;
        margin-right: $size-28;
        svg {
            color: $gray-9;
        }
    }
}
//custom
.ant-badge-count {
    // padding: 0 6px 0 6px;
    border-radius: $size-16;
    background: $red-5;
    border: $size-1 solid white;
    box-sizing: border-box;
    height: $size-18;
    width: $size-23;
    right: $size-0-3;
    .ant-scroll-number-only-unit {
        padding-top: $size-1;
    }
}
.header-dropdown-menu {
    top: $size-75 !important;
}
