@import "./Layout/index";

.my-cv-wrapper {
  .my-cv-main {
    height: 100%;
    width: 960px;
    min-height: 850px;
    background: white;
    border-radius: 8px;
    padding: 24px;
  }
  .my-cv-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .my-cv-avatar {
    height: 160px;
    width: 160px;
    border-radius: 100px;
  }
  .uni-logo {
    height: 140px;
    width: 180px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
    margin-top: 16px;
    &-name {
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
    }
    &-phone-email {
      margin-top: 4px;
      font-size: 18px;
      line-height: 26px;
    }
    &-address {
      margin-top: 4px;
      font-size: 18px;
      line-height: 26px;
    }
  }
  .my-cv-body {
    margin-top: 56px;
    width: 100%;
  }
  .my-cv-reference {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
  }
}
.my-cv-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
}

.my-cv-wrapper {
  .my-cv-2 {
    &-main {
      padding: 24px;
      overflow: auto;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &-left {
      width: 400px;
      height: 100%;
      background: rgba(196, 196, 196, 0.3);
      border-radius: 10px;
      padding: 24px;
      margin-right: 12px;
      height: max-content;
    }
    &-right {
      width: 480px;
      height: 100%;
      background-color: white;
      border-radius: 10px;
      padding: 24px;
      margin-left: 12px;

      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    &-header {
      display: flex;
    }
    &-names {
      margin-left: 24px;
    }
    &-lastname {
      font-size: 25px;
      line-height: 30px;
      color: #cecaca;
    }
    &-firstname {
      margin-top: 6px;
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      color: #ffffff;
    }
    &-role {
      margin-top: 6px;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      color: #cecaca;
    }
    &-avatar {
      height: 120px;
      width: 120px;
      border-radius: 100px;
    }
    &-body {
      margin-top: 24px;
      padding: 8px 16px;
      background: rgba(196, 196, 196, 0.35);
      border-radius: 10px;
      &-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: white;
      }
      &-content {
        font-size: 16px;
        line-height: 22px;
        color: #fafafa;
        .a-dot {
          font-size: 12px;
          vertical-align: top;
          margin-right: 4px;
        }
      }
      &-link {
        font-size: 14px;
        line-height: 16px;
        color: #fafafa;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        span {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
