.custom-signature-input {
  .signature-canvas-container {
  }
  .signature-canvas {
    width: 100%;
    height: $size-200;
    border: $size-1 solid $gray-5;
    box-sizing: border-box;
    border-radius: $size-2;
  }
}
