.search-bar-wrapper {
  .ant-input-affix-wrapper {
    height: $size-40;
    padding: $size-8 $size-12 $size-8 $size-10;
  }
  .is-inactive {
    .ant-input-prefix {
      svg {
        color: $gray-6;
      }
    }
  }
}
