.side-bar {
  &-main {
    height: 100%;
    background-color: $gray-1;
    color: $gray-8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  }
  &-logo {
    padding: $size-16 0 $size-16 $size-24;
  }
  // &-submenu {
  //   height: $size-48 !important;
  //   margin: $size-8 0 0 0 !important;
  // }
  &-menu {
    height: $size-48 !important;
    margin: 0 !important;
  }
  &-item {
    &-text {
      vertical-align: middle;
    }
    &-icon {
      vertical-align: middle;
    }
    &-caret {
      position: absolute;
      right: $size-0-10;
      top: 0;
    }
  }
}
.ant-menu-submenu-title {
  height: $size-48 !important;
  margin: $size-8 0 0 0 !important;
}
.ant-menu-item-selected {
  a {
    color: $blue-6 !important;
  }
}
.ant-menu-submenu {
  .ant-menu-item {
    height: $size-48 !important;
    margin: $size-8 0 0 0 !important;
    display: flex;
    align-items: center;
    a {
      color: $gray-8;
    }
  }
  .ant-menu-item:hover {
    color: $blue-6 !important;
  }
}
.ant-menu {
  user-select: none;
  color: $gray-8;
}
.ant-menu-submenu-arrow {
  display: none;
}
.ant-menu-submenu-selected .ant-menu-submenu-title {
  .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-arrow::after {
    background: $blue-6 !important;
  }
}

a {
  text-decoration: none !important;
}
