.display-data-2-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  .display-data-2-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: $size-8 $size-12;
    .data-item {
      font-weight: normal;
      font-size: $size-14;
      line-height: $size-22;
      display: flex;
      color: $gray-9;
    }
    .left-item {
      padding-right: $size-12;
    }
    .right-item {
      padding-left: $size-24;
      white-space: break-spaces;
      word-break: break-all;
    }
    .type-data {
      flex-direction: column;
      align-items: flex-start;
    }
    .w-l-1 {
      width: calc(175% / 7 + 12px);
    }
    .w-r-1 {
      width: calc(525% / 7 - 12px);
    }
    .w-l-2 {
      width: calc(200% / 7 + 12px);
    }
    .w-r-2 {
      width: calc(500% / 7 - 12px);
    }
    .w-l-3 {
      width: calc(300% / 7 + 12px);
    }
    .w-r-3 {
      width: calc(400% / 7 - 12px);
    }
    .w-l-4 {
      width: $size-64;
      padding: 0 !important;
      margin-right: $size-8;
    }
    .w-r-4 {
      flex: 1;
      display: flex;
      padding: 0 !important;
      margin-left: $size-8;
    }
    .w-l-5 {
      // 3 / 9
      width: calc(300% / 9 + 12px);
    }
    .w-r-5 {
      width: calc(600% / 9 - 12px);
    }

    .ant-upload {
      display: none !important;
    }
  }
  .strip {
    background-color: $gray-3;
  }
  .display-data-2-edit-button {
    display: none;
  }
  .detail-left-ct {
    margin-top: $size-8;
    padding: 0;
  }
  .last-item-ct {
    padding-bottom: 0 !important;
  }
}
.display-data-2-wrapper:hover {
  .display-data-2-edit-button {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
  }
}
