@import "./Layout/index";

.home {
  &-introduct {
    margin-top: 5%;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    &-icon {
      height: 200px;
    }
  }
  &-wrapper {
    background-color: white;

    min-height: 100vh;
    max-width: calc(1600px + 10%);

    display: flex;
    justify-content: space-between;

    .col-ct {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      width: 30%;
    }
    .col-btn {
      width: 200px;
      height: 60px;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 55px;
      border: 2px solid rgba(69, 143, 246, 1);
      color: rgba(69, 143, 246, 1);
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-spaces;
        word-break: break-word;
      }
    }
  }
}
